body {
	background-color: #CCCCCC;
}

#main-page {
  min-height: 500px;
  padding: 12px;
  background-color: #fff;
}

.login-panel {
  margin-top: 50px;
  background-color: rgba(19, 112, 203, 0.13);
}

.table-panel {
  margin-top: 20px;
}

.div-info {
  background-color: #5bc0de;
}

.div-success {
  background-color: #dff0d8;
}

.form-des {
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.form-pre-des {
	padding-top: 7px;
	text-align: right;
	font-weight: bold;
}

.form-suf-des {
	padding-top: 7px;
	text-align: left;
}

.form-head-des {
  padding-left: 10px;
  font-weight:900;
  font-size:25px;
  color: #000066;
}

/*产品具体信息显示模版*/
.pdt-panel {
  border: 1px solid #6584E5;
  border-radius: 3px;
  background-color: #E5EDFA;
}

.pdt-des {
  margin-bottom: 10px;
  margin-top: 10px;
}

.pdt-pre-des {
  padding-top: 3px;
  text-align: right;
  font-weight: bold;
  font-size: smaller;
  font-style: oblique;
  color: purple;
}

.pdt-suf-des {
  padding-top: 3px;
  text-align: left;
  font-size: smaller;
  color: rgb(165, 164, 146);
  font-style: oblique;
}

.pdt-head-des {
  padding-left: 10px;
  font-weight:900;
  font-size:20px;
  color: #000066;
}

/********************************begin***************************************/
/*override boostrap style*/
.container {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  min-height: 610px;
}

.breadcrumb {
  background-color : #FFFFFF;
  margin-bottom: 0px;
}

.thumbnail {
  margin-bottom: 0;
  padding: 12px;
  /**
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  **/
  border: 0;
}

.pagination {
  padding-left: 35%;
}

/*override bootstrap navbar-fixed-top style*/
.navbar-fixed-top {
  padding-left: 5%;
  padding-right: 5%;
}

/*override bootstrap navbar-inverse in order to change nav's color*/
.navbar-inverse {
  background-color : #337ab7;
  border-color : #337ab7;
}

.navbar-inverse .navbar-nav>li>a {
  color: #131212;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #7bc0de;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #7bc0de;
}

.navbar-nav>li>.dropdown-menu {
  background-color: #7bc0de;
}

.panel-group {
  box-shadow: 5px 5px 5px #888888;
}
/********************************end****************************************/

#nav-top {
  margin-bottom: 40px; 
}

.footer {
  width: 100%;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 1.5;
  border-top: 1px solid #eee;
  background-color: grey;
  text-align: center;
}

.partition {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #816262;
}